.page {
  background-color: var(--color-tse-primary-light);
}
.canvas {
  border-radius: 20px;
  background-color: #fff;
  margin: 128px 120px;
  height: auto;
  padding: 64px;
}
.title {
  color: var(--Accent-Blue-1, #102d5f);
  font-family: "Lora";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sections {
  padding-top: 32px;
}
.section:not(:last-child) {
  padding-bottom: 64px;
}
