.wrapperClass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  font-size: 16px;
  color: var(--Light-Gray, #818181);
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: auto;
}

.requiredAsterisk {
  color: var(--Secondary-2, #484848);
  text-align: left;
}

.inputClass {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--Dark-Gray, #484848);
  font-family: "OpenSans";
  font-weight: 300;
  line-height: normal;
  padding-top: 16px;
  width: 504px;
}

.helperText {
  color: #484848;
  font-family: "OpenSans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
}
