.accordion {
  display: inline-block;
  background-color: #fff;
  width: calc(100vw * 89 / 288);
  border-radius: 6px;
  box-shadow: none;
  padding: 8px 6px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 14px;
}
.details > * {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  padding-right: 32px;
  width: 60%;
}

.row:not(:last-child) {
  padding-bottom: 32px;
}

.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
