:root {
  --color-background: #eceff3;
  --color-tse-primary-light: #f7f7f7;
  --color-tse-primary-dark: #232220;
  --color-tse-secondary-1: #102d5f;
  --color-tse-secondary-2: #be2d46;
  --color-tse-accent-blue-1: #102d5f;
  --color-tse-accent-blue-2: #04183b;
  --color-tse-accent-red-1: #be2d46;
  --color-tse-accent-red-2: #620c02;
  --color-tse-light-gray: #818181;
  --color-tse-dark-gray: #484848;
  --color-tse-secondary-light-blue: #c7def1;
  --font-title: "Lora";
  --font-open-sans: "OpenSans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-tse-primary-light);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: Lora;
  src: url("/lora.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("/opensans.woff") format("woff");
  font-style: normal;
}
