.pageNumber {
  color: var(--Primary-Background-Dark, #232220);
  text-align: center;
  /* Desktop/Body 2 */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

/* tablet version */
@media screen and (max-width: 850px) {
  .pageNumber {
    font-size: 14px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .pageNumber {
    font-size: 12px;
  }
}
