.pageNumber {
  color: var(--Primary-Background-Dark, #232220);
  text-align: center;
  /* Desktop/Body 2 */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
