.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 27px 24px 26px 63px;
  padding-right: 24px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* tablet version */
@media screen and (max-width: 850px) {
  .headerBar {
    padding: 52px 12px 20px 24px;
  }
}
