.headerBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 101px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.logo {
  margin-top: 27px;
  margin-left: 63px;
}

/* tablet version */
@media screen and (max-width: 850px) {
  .headerBar {
    height: 115px;
  }

  .logo {
    margin-top: 52px;
    margin-left: 24px;
  }
}
