.main {
  padding: 64px;
  padding-top: 128px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  color: var(--Accent-Blue-1, #102d5f);
  text-align: left;

  /* justify-content: center; */
  margin: 105px 120px 0;
  gap: 40px;

  gap: 32px;
  /* Desktop/H1 */
  font-family: Lora;
  /* font-size: 20px; */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.row {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 40px;
}

.subtitle {
  font-size: 24px;
}
