.accordian {
  display: inline-block;
  background-color: #fff;
  width: calc(100vw * 89 / 288);
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}

.accordianTitle {
  height: 48px;
  border-bottom: 1px solid #d6d6d6;
  height: 48px;
}

.box .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box .details > * {
  margin-top: 32px;
}

.box .details .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
