.box Accordian {
  display: inline-block;
  background-color: #fff;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #d6d6d6;
}

.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
