.accordian {
  display: inline-block;
  background-color: #fff;
  width: calc(100vw * 5 / 6);
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
}

.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 6px;
}

.accordianTitle {
  height: 48px;
  border-bottom: 1px solid #d6d6d6;
  height: 48px;
}

.details {
  display: flex;
  flex-direction: row;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 5px;
  margin-top: 15px;
  overflow: auto;
}

.details > * {
  padding-right: 100px;
}
