.accordian {
  display: inline-block;
  background-color: #fff;
  width: calc(100vw * 89 / 288);
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.row:not(:last-child) {
  padding-bottom: 32px;
}

.row > *:not(:last-child) {
  width: calc(50% - 16px);
}

.second {
  position: absolute;
  left: 50%;
  transform: translateX(16px);
}

.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
