.box Accordian {
  display: inline-block;
  background-color: #fff;
}

.box .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box .details > * {
  margin-top: 32px;
}

.box .details .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
