.page {
  background-color: var(--color-background);
}

.toDashboard {
  margin-top: 58px;
  max-width: 137px;
  height: 40px;
  padding-left: 10px;
  padding-top: 8px;
  margin-left: calc(100vw * 1 / 12);
  border-radius: 4px;
  border: 1px solid var(--Secondary-Accent1, #102d5f);
  justify-content: center;
}

.name {
  margin-top: 29px;
  margin-bottom: 32px;
}

.toDashboard a {
  color: #222;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-left: 10px;
}

.allDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allDetails > * {
  width: calc(100% * 5 / 6);
}

.otherDetails {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 49 / 144);
}

.personalInfo > * {
  margin-bottom: 32px;
}

.furnishings {
  width: calc(100vw * 655 / 1440);
}
