.page {
  background-color: var(--color-tse-primary-light);
}

.toDashboard {
  margin-top: 58px;
}

.name {
  margin-top: 29px;
  margin-bottom: 64px;
}

.toDashboard > * {
  margin-right: 18px;
}

.toDashboard a {
  color: #818181;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.allDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allDetails > * {
  width: calc(100% * 5 / 6);
}

.otherDetails {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 49 / 144);
}

.personalInfo > * {
  margin-bottom: 18px;
}

.furnishings {
  width: calc(100vw * 655 / 1440);
}
