.accordian {
  display: inline-block;
  background-color: #fff;
  width: calc(100vw * 713 / 1440);
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* .accordianTitle {
  height: 48px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
} */

.accordianTitle {
  height: 48px;
  border-bottom: 1px solid #d6d6d6;
  height: 48px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row:not(:last-child) {
  padding-bottom: 32px;
}

.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
