.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.items .title {
  color: rgba(35, 34, 32, 0.55);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items .value {
  color: #222;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
