.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row:not(:last-child) {
  padding-bottom: 32px;
}

.chipContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.chip {
  white-space: nowrap;
  text-align: center;
  font-family: "OpenSans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid var(--Secondary-1, #102d5f);
  background-color: #102d5f;
}

.chip:hover {
  cursor: pointer;
  background: #c7def1;
}

.boxShadow {
  padding: 32px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 14.6px 0px rgba(0, 0, 0, 0.1);
}

.selectTag {
  margin-bottom: 32px;
  color: var(--Primary-Background-Dark, #232220);
  font-family: Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.buttonsRow {
  margin-top: 32px;
}

.editButton {
  margin-top: 16px;
  border-radius: 64px;
}

.textField {
  margin-top: 32px;
}

.spacer {
  height: 32px;
}
