.root {
  position: absolute;
  width: 723px;
  background-color: white;
  border-radius: 12px;
  border: none;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 64px;
  gap: 16px;
  border: none !important;
  outline: none !important;
}

.closeButton {
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
  border: none !important;
  background: transparent;
}

.title {
  color: var(--Accent-Blue-2, #04183b);
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
}

.content {
  color: #000;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 48px;
}

.button {
  border-radius: 4px;
  padding: 12px 24px;
  border: none !important;
  cursor: pointer;
  text-align: center;
  font-family: "Lora";
  font-size: 24px;
  font-weight: 700;
}

.cancelButton {
  border: 1px solid var(--Accent-Blue-1, #102d5f) !important;
  color: var(--Accent-Blue-1, #102d5f);
  background-color: white;
}

.deleteButton {
  background-color: var(--Secondary-2, #be2d46);
  color: white;
}

/* tablet version */
@media screen and (max-width: 850px) {
  .root {
    width: calc(100% - 96px);
  }

  .title {
    font-size: 36px;
  }

  .content {
    font-size: 18px;
  }

  .button {
    font-size: 18px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .root {
    width: calc(100% - 48px);
    padding: 64px 24px;
  }

  .title {
    font-size: 28px;
  }

  .content {
    font-size: 14px;
  }

  .buttonContainer {
    margin-top: 16px;
    gap: 16px;
  }

  .button {
    font-size: 14px;
  }
}
