.wrapperClass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  font-size: 16px;
  color: var(--Light-Gray, #818181);
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sectionLabel {
  padding-bottom: 16px;
}

.chip {
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-family: "OpenSans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid var(--Secondary-1, #102d5f);
}

.chipContent {
  display: flex;
  flex-direction: row;
  padding: 9px 16px;
  align-items: center;
}

.chipTitle {
  padding-right: 8px;
}

.chip:hover {
  cursor: pointer;
  background: #c7def1;
}

.chipSelected {
  color: white;
  background: #102d5f;
}

.chipSelected:hover {
  cursor: pointer;
  background: #102d5f;
}

.chipContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.chipUnselected {
  color: var(--Accent-Blue-1, #102d5f);
  background: rgba(255, 255, 255, 0);
}

/*Need exact color for this*/
.chipUnselected:hover {
  background: rgb(213, 232, 239);
}

.requiredAsterisk {
  color: var(--Secondary-2, #be2d46);
  text-align: left;
}

.helperText {
  color: var(--Secondary-2, #be2d46);
  font-size: 12px;
}

.math {
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  border-color: #fff;
  all: unset;
}

.decSelected {
  stroke: #fff;
}

.decUnselected {
  stroke: #102d5f;
}

.incSelected {
  stroke: #fff;
}

.incUnselected {
  stroke: #102d5f;
}
