.root {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  background: var(--Functional-Background, #f9f9f9);

  padding: 26px 34px;
  align-items: center;
  gap: 40px;
  position: relative;
}

.name {
  color: var(--Accent-Blue-1, #102d5f);
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
}

.email {
  color: var(--Neutral-Gray6, #484848);
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.settingsIcon {
  cursor: pointer;
  position: absolute;
  right: 26px;
  top: 26px;
}

/* tablet version */
@media screen and (max-width: 850px) {
  .email {
    font-size: 14px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .root {
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }

  .row {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
}
