.page {
  background-color: var(--color-background);
  padding-bottom: 67px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 105px 120px 0;
  padding: 0px;
  gap: 40px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row_left {
  gap: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statusContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--Neutral-Gray2, #d8d8d8);
  background: #fff;
}

.statusLabel {
  color: #909090;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 400;
}

.statusWrapper {
  min-width: 230px;
}

.row_right {
  gap: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 137px;
  padding: 11px 16px;
  border-radius: 4px;
  gap: 6px;
  justify-content: center;
  background-color: var(--color-tse-secondary-1);
  cursor: pointer;
  border: none !important;
}

.buttontext {
  color: var(--Primary-Background-Light, #f7f7f7);
  text-align: center;

  /* Desktop/Body 2 */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* shrink the margins at a screen size larger than tablet to avoid overflow */
@media screen and (max-width: 1150px) {
  .column {
    margin: 52px 48px 0;
  }
}

@media screen and (max-width: 600px) {
  .row_right {
    gap: 4px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .column {
    margin: 37px 24px 0;
  }

  .statusWrapper {
    min-width: 190px;
  }

  .statusLabel {
    font-size: 12px;
  }
}

@media screen and (max-width: 475px) {
  .statusWrapper {
    min-width: unset;
  }
}
