.filterChip {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 64px;
  border: 1px solid var(--Secondary-1, #102d5f);
  background: var(--Secondary-1, #102d5f);
  align-self: stretch;
  padding: 8px 16px;
}

.filterText {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.deleteButton {
  display: flex;
  cursor: pointer;
  border: none !important;
  background: transparent;
}

/* tablet version */
@media screen and (max-width: 850px) {
  .filterChip {
    height: 36px;
  }

  .filterText {
    font-size: 14px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .filterChip {
    height: 30px;
  }

  .filterText {
    font-size: 12px;
  }
}
