.page {
  background-color: var(--color-background);
  padding: 0 120px;
}

.toDashboardRow {
  padding-top: 35px;
}

.toDashboard {
  display: flex;
  color: var(--color-tse-accent-blue-1);
  max-width: 137px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid var(--Secondary-Accent1, #102d5f);
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
}

.toDashboard > * {
  vertical-align: middle;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.actions {
  gap: 32px;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.button {
  border-radius: 4px;
  background-color: var(--color-tse-accent-blue-1);
  padding: 8px 16px;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  white-space: nowrap;
}

.modalButton {
  font-size: 24px;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.blueOutlinedButton {
  background-color: transparent;
  border: 1px solid var(--color-tse-accent-blue-1);
  color: var(--color-tse-accent-blue-1);
}

.redOutlinedButton {
  background-color: transparent;
  border: 1px solid #be2d46;
  color: #be2d46;
}

.redButton {
  background-color: #be2d46;
}

.modalBottomRow {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#edit:hover {
  background-color: #c7def1;
}

.name {
  margin-top: 29px;
  margin-bottom: 32px;
}

.allDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bodyDetails {
  width: 100%;
}

.otherDetails {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.personalInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.personalInfo > * {
  margin-bottom: 32px;
}

.rightColumn {
  flex: 1;
}

.finalActions {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  justify-content: flex-end;
}

.request {
  width: calc(100% * 239 / 713);
  border-radius: 4px;
  border: 1px solid var(--color-tse-accent-blue-1);
  color: var(--color-tse-accent-blue-1);
  text-align: center;
  font-family: "Lora";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: rgba(255, 255, 255, 0);
  align-items: end;
  padding: 12px 24px;
  margin-right: 32px;
}

.approveButton {
  width: 207px;
  border-radius: 4px;
  border: 1px solid var(--color-tse-secondary-1);
  color: white;
  text-align: center;
  font-family: "Lora";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--color-tse-secondary-1);
  align-items: end;
  padding: 20px 24px;
  cursor: pointer;
}

.footer {
  height: 64px;
}

.error {
  color: red;
  font-family: var(--font-open-sans);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

/* tablet version */
@media screen and (max-width: 850px) {
  .otherDetails {
    flex-direction: column-reverse;
  }

  .toDashboardRow {
    padding-top: 43px;
  }

  .approveButton {
    width: 100%;
    padding: 12px 24px;
  }

  .page {
    padding: 0 48px;
  }

  .button {
    font-size: 14px;
  }

  .modalButton {
    font-size: 18px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .page {
    padding: 0 24px;
  }

  .toDashboardRow {
    padding-top: 20px;
  }

  .actions {
    gap: 16px;
  }

  .modalButton {
    font-size: 14px;
  }
}
