.title {
  font-family: var(--font-title);
  color: var(--Primary-Background-Dark, #232220);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 6px;
  padding-right: 6px;
}
