.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: rgba(35, 34, 32, 0.55);
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.list {
  gap: 16px;
}

.list:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listItem {
  color: #fff;
  text-align: center;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 64px;
  border: 1px solid var(--color-tse-accent-blue-1);
  background: var(--color-tse-accent-blue-1);
  white-space: nowrap;
}

.listItem > * {
  padding: 8px 16px;
}

.noList {
  color: #818181;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

/* tablet version */
@media screen and (max-width: 550px) {
  .title {
    font-size: 14px;
  }

  .listItem {
    font-size: 14px;
  }

  .noList {
    font-size: 14px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .title {
    font-size: 12px;
  }

  .listItem {
    font-size: 12px;
  }

  .noList {
    font-size: 12px;
  }
}
