.dropDown {
  color: var(--Dark-Gray, #484848);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  gap: 10px;
  align-self: stretch;
}

.form {
  width: 100%;
  height: 100%;
}

.placeholder {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: var(--Dark-Gray, #484848);
  opacity: 0.5;
}

/* tablet version */
@media screen and (max-width: 850px) {
  .placeholder {
    font-size: 14px;
  }
}

/* mobile version */
@media screen and (max-width: 550px) {
  .placeholder {
    font-size: 12px;
  }
}
