.inputClass {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: var(--Dark-Gray, #484848);
  font-family: var(--font-open-sans);
  font-weight: 300;
  line-height: normal;
}
