.overlay {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: "rgba(0, 0, 0, 0.7)";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}
.modal {
  background-color: "#fff";
  padding: "20px";
  border-radius: "5px";
  width: "300px";
  box-shadow: "0 4px 6px rgba(0, 0, 0, 0.1)";
}
.closeButton {
  float: "right";
  border: "none";
  background: "none";
  cursor: "pointer";
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.button {
  width: 100%;
  padding: 12px 24px;
  text-align: center;
  font-family: "Lora";
  font-size: 24px;
  font-weight: 700;
}
